.form-container{
    padding: 3% 0;
}
.form{

    justify-content: center;
    align-items: center;
}
.form-item{
    margin-left: 50px;
}
.row{
    display: flex;
    margin: 2% 0;

}
.row-label{
    flex: 2;
    text-align: right;
    font-size: clamp(1rem, 4vw, 2rem);

}
.row-input{
    flex: 5;
    margin-left: 1%;
    border-radius: 5px;
}
.submit-btn{
    width: 100%;
    font-size: clamp(1rem, 4vw, 2rem);
    background-color: #c331ec;
    color: #fdfdfe;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #290038;
    text-shadow: -1px 1px #282c34;
    border-radius: 10px;
}
