@keyframes ani_first_name {
    0% {
        transform: scale(0.8, 0.8) translateX(-20vw) translateY(5vw);

        opacity: 0;
        background-color: rgba(0, 0, 0, 0);
    }
    50% {
        transform: scale(1, 1) translateX(3vw) translateY(5vw);
        opacity: 1;
        background-color: rgba(0, 0, 0, 0);
    }
    100% {

        transform: translateX(0) translateY(0);
    }
}

@keyframes ani_last_name {
    0% {
        transform: scale(0.8, 0.8) translateX(20vw) translateY(-5vw);

        opacity: 0;
        background-color: rgba(0, 0, 0, 0);

    }
    50% {
        transform: scale(1, 1) translateX(-3vw) translateY(-5vw);
        opacity: 1;
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        transform: translateX(0) translateY(0);

    }
}

.title {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title_text {
    color: black;
    width: 60vw;
    padding: 0 10vw;
    font-size: clamp(2.7rem, 10vw, 8rem);
    font-family: 'Montserrat', sans-serif;
    justify-content: space-around;
    display: flex;

    align-items: center;


}

.title_first_name {
    color: #d836cb;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    animation: ani_first_name 1s normal ease-out;
}

.title_last_name {
    color: #acacd5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    animation: ani_last_name 1s normal ease-out;

}

@keyframes ani_sub_text {
    0%{opacity: 0; transform: translateY(5vh)}
    50%{opacity: 0; transform: translateY(5vh)}
    100%{opacity: 1;transform: translateY(0)}
}
.title_sub_text{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Inconsolata', monospace;
    font-size: clamp(2rem, 5vw, 5rem);

    animation: ani_sub_text 2s normal ease-in-out;

    display: flex;
    flex-direction: row;

}
